
nav{
  width: 1440px; height: 50px;
  background-color: orange;
}


#uno{width: 150px; height: 30px ;
background-color: yellow;float: left;margin: 10px 10px ;}

#dos{width: 150px; height: 30px ;
  background-color: yellow;float:left;margin: 10px 10px ;}

#tres{width: 150px; height: 30px ;
    background-color: yellow;float:left;margin: 10px 10px;}

#cuatro{width: 150px; height: 30px ;
      background-color: yellow;float:left;margin: 10px 10px;}
   
main{
  width: 1440px; height: 700px; background-color: blue; 

}
 article{
  width: 1200px; height: 700px; background-color:burlywood ;float: left;
 } 
 #ariba{
  width:1200px ; height: 350; background-color: brown;float: left;
 
#abajo{
 width:1200px ; height: 350; background-color:royalblue;float: right;
}  


 

